<div class="d-flex align-items-center justify-content-center">
    <mdb-card class="col-4 m-5 p-0">
      <!--Card image-->
      <!-- <mdb-card-img src="{{product.image_url}}" alt="Card image cap"></mdb-card-img> -->
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>See Full List</h4>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text>
          This is Still in Mock up Stage, It will be changed as soon as Talal Finishes Elastic Search Connection
        </mdb-card-text>
  
        <a mdbBtn color="primary" mdbWavesEffect routerLink="/list">Go There</a>
      </mdb-card-body>
    </mdb-card>
    <mdb-card class="col-4 m-5 p-0">
      <!--Card image-->
      <!-- <a href="{{product.image_url}}">
        <mdb-card-img src="{{product.image_url}}" alt="Card image cap"></mdb-card-img>
      </a> -->
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Add Paintings</h4>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text>
          This is used to add another Image to DB using Front End
        </mdb-card-text>
  
        <a mdbBtn color="primary" mdbWavesEffect routerLink="/add">Start Adding</a>
      </mdb-card-body>
    </mdb-card>
  
  </div>
  